.section-title {
    border-bottom: 2px solid #fff;
}

.section-container {
    border: 1px solid blueviolet;
    display: flex;
    flex-flow: row nowrap;
}

.section-container > div {
    padding: 5px 20px;
    margin: 0 auto;
    width: auto;
}

.section-subtitle {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.section-super {
    font-size: 1.25rem;
}

.section-detail {
    font-size: 0.90rem;
}