.section-title {
    border-bottom: 2px solid #fff;
}

.section-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
}

.section-container > div {
    flex-basis: auto;
    width: fit-content;
}

.section-subtitle {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.section-super {
    font-size: 1.25rem;
    font-weight: 700;
}

.section-detail {
    font-size: 0.90rem;
}

.section-subdetail {
    font-size: 0.75rem;
}

.section-footer {
    border-top: 1px solid #fff;
    padding-top: 5px;
    margin-top: 25px;
}