.race-new-wrapper {
    font-size: 1.5rem;
    margin: 5px 10%;
}

.race-new-form {
    font-size: 1rem;
    width: 90%;
}

input, select, textarea {
    background-color: #969798;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0 0 0;
    padding: 0.25rem;
    width: 100%;
}

input[type="number"] {
    width: 5rem;
}

input[type="number"]:last-child {
    margin-left: 2.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    height: 10rem;
    resize: none;
}