
/* #B1E5F8; */
/* #51D5F4 */
/* #D5E1E0 */
/* #E8F355 */
/* #515354 */

.app {
  height: 100vh;
  margin: 0 auto;
}

.app-header {
  background-color: #515354;
  border-bottom: 2px solid #51D5F4;
  color: #51D5F4;
  font-size: 1.25rem;
  padding: 0 10px;
}

.app-logo {
  height: 5vmin;
  margin-right: 5px;
  pointer-events: none;
}

.app-main {
  margin: 0 auto;
}