.app {
  border: 2px solid pink;
  height: 100vh;
  margin: 0 auto;
}

.app-header {
  background-color: #515354;
  border: 2px solid green;
  color: #B1E5F8;
  font-size: 2rem;
}

.app-main {
  border: 2px solid blue;
  margin: 0 auto;
}

/* #51D5F4 */
/* #D5E1E0 */
/* #E8F355 */